.navbar {
  margin: 0;
  padding: 0;
  height: 10vh;
  width: 100vw;
  background: #ffffff;
  box-shadow: 0px 1px 4px #aaaaaa;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.navbar-options {
  margin: 0;
  padding: 0;
  height: 10vh;
  width: 100vw;
  background: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.company-name {
  padding-left: 2vw;
}

.navbar-items {
  font-weight: 400;
  font-size: 2vh;
  line-height: 1vh;
  margin: 0 2vw;
}

.navbar-buttons {
  color: #ffffff;
  font-weight: 500;
  border: none;
  padding: 2vh 4vh;
  border-radius: 100px;
}
