.inner-container {
  display: flex;
  flex-direction: row;
  gap: 64px;
  margin: 56px;
  color: #f9f9f9;
  font-size: 24px;
}

.section-25 {
  flex: 0.75;
}

.section-50 {
  flex: 2;
}

.section-header {
  text-decoration: underline;
}

.section-content {
  margin-top: 20px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section-content img {
  width: 90px;
  height: 90px;
}

.text {
  font-size: 24px;
  color: #f9f9f9;
  text-align: center;
}

.section-container {
  display: flex;
  flex-direction: row;
  gap: 100px;
}

.section-column {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.brand-section-container {
  margin-top: 56px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
}

.brand-card {
  border: 1px solid #292929;
  border-radius: 8px;
}
.brand-card .img img {
  width: 156px;
  height: 156px;
}

.brand-text {
  background: #292929;
  color: #f9f9f9;
  padding: 12px;
  text-align: center;
}

.sell-button-container {
  display: flex;
  flex-direction: row;
  margin-top: 28px;
  gap: 12px;
}

.outline {
  background-color: transparent;
  color: #f9f9f9;
  padding: 16px;
  border: 1px solid #f9f9f9;
  border-radius: 56px;
}
.filled {
  padding: 16px;
  border: 1px solid #f9f9f9;
  border-radius: 56px;
}

footer * {
  color: #c1c1c1;
}

.footer-header {
  color: #f9f9f9;
}
