.left {
  justify-content: center;
  align-self: center;
  flex-direction: column;
  height: 100%;
}

.left mark {
  color: #ffffff;
}

.right {
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.right .card {
  height: 500px;
  width: 400px;
}

.tab-container {
  display: flex;
  height: 10px;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.tab {
  border: solid;
  border-width: 1px;
  border-radius: 100%;
  height: 100%;
  margin: 2px;
  aspect-ratio: 1/1;
}

.right .card-overlay {
  background-color: #121212dd;
  transform: translateY(-100%);
  height: 150px;
  width: 92%;
  color: #ffffff;
  padding: 2px 4% 0 4%;
}

.right .card-overlay .heading {
  margin-bottom: 2px;
  opacity: 100%;
}

.right .card-overlay .content {
  overflow: hidden;
  text-overflow: ellipsis;
  height: 25px;
  font-size: 10px;
}

.right .card-overlay .footer {
  padding-top: 4%;
  align-items: center;
  justify-content: space-between;
}

.bid-button {
  color: #000000;
  font-weight: 500;
  border: none;
  padding: 10px 20px;
  border-radius: 100px;
}

.half {
  width: 50vw;
}

.quote {
  padding-left: 5vw;
  font-size: 5vw;
  font-weight: 400;
}

.brands {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5vh;
}

.brands img {
  width: 50%;
}
