* {

}

body {
    background-color: #F9F9F9;
    color: #292929;
}

.section-1 {
    background-color: #292929;
    color: #F9F9F9;
}

.section-2 {
    background-color: #F9F9F9;
    color: #292929;
}
